@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-space-mono);
  --font-serif: var(--font-eb-garamond);
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
}

/* --- ADD THIS RIGHT HERE --- */
.font-rainy {
  font-family: var(--font-rainyhearts), monospace;
}
